body {
  font-family: 'Titillium Web', sans-serif; }

header {
  background-color: #FF1E00;
  color: #FFFFFF;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.logo-container {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center; }

.hamburger-menu {
  display: none; }
  .hamburger-menu img {
    width: 50px;
    height: 50px; }
  .hamburger-menu:focus {
    outline: none; }

@media (max-width: 850px) {
  .hamburger-menu {
    display: block;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 100px; }
  .menu {
    display: none; } }

@media (min-width: 850px) {
  .hamburger-menu:focus + .menu,
  .menu.show {
    display: inline; }
  .nav-bar {
    align-self: center; } }

.show {
  display: grid; }

.nav-bar-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18pt;
  margin: 0 10px;
  padding: 10px;
  position: relative; }
  .nav-bar-link.active {
    background-color: #000000;
    color: #FF1E00; }
  .nav-bar-link:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.news-text {
  font-size: 28pt;
  font-weight: lighter;
  padding-left: 20px; }

.view-more {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 20px; }
  .view-more a {
    background-color: #FF1E00;
    display: inline-block;
    padding: 10px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 15px; }

#news {
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%; }

#drivers {
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%; }

#constructors {
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%; }

#schedule {
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%; }

#schedule {
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%; }

#results {
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%; }

.race-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }
  .race-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 5%; }

.drivers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px; }
  .drivers-list ol {
    width: 50%;
    margin: 10;
    padding: 0;
    display: grid;
    justify-content: center;
    text-align: center; }
    .drivers-list ol img {
      max-width: 100%; }
    .drivers-list ol:hover {
      transform: scale(1.1);
      opacity: 100%; }
    .drivers-list ol:not(:hover) {
      opacity: 90%; }

.constructors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px; }
  .constructors-list ol {
    font-size: 18pt;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 10pt;
    width: 40%;
    margin: 20px;
    padding: 0;
    display: grid;
    justify-content: center;
    text-align: center; }
    .constructors-list ol:hover {
      transform: scale(1.1);
      opacity: 100%; }
    .constructors-list ol:not(:hover) {
      opacity: 85%; }
    .constructors-list ol img {
      max-width: 100%; }

.circuits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 10px; }
  .circuits-list ol {
    width: 50%;
    margin: 10;
    max-width: 250px;
    padding: 20;
    display: grid;
    justify-content: center;
    text-align: center; }
    .circuits-list ol img {
      max-width: 80%; }
    .circuits-list ol:hover {
      transform: scale(1.1);
      opacity: 100%; }
    .circuits-list ol:not(:hover) {
      opacity: 90%; }

.circuit-button {
  background-color: transparent;
  border-style: none;
  cursor: pointer; }
  .circuit-button:focus {
    outline: none; }

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center; }

.content-not-found p {
  font-size: 32px;
  font-weight: 200;
  text-align: center; }

.content-not-found img {
  max-width: 100%; }

footer {
  background-color: #FF1E00;
  color: #FFFFFF;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

h1 {
  font-size: 42pt;
  line-height: 1.2; }

h2 {
  font-size: 32pt;
  line-height: 1.2; }

p {
  font-size: 12pt;
  line-height: 1.5; }
