<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../img/f1-logo-red.png">
    <title>Formula 1™</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="../index.html">
                <img src="../img/f1-logo-white.png" alt="Logo de Fórmula 1" width="150">
            </a>
        </div>
		<nav class="nav-bar">
			<a class="nav-bar-link" href="../index.html">Últimas Noticias</a>
			<a class="nav-bar-link" href="../views/drivers.html">Pilotos</a>
			<a class="nav-bar-link" href="../views/constructors.html">Constructores</a>
            <a class="nav-bar-link" href="../views/schedule.html">Cronograma</a>
			<a class="nav-bar-link" href="../views/results.html">Resultados</a>
		</nav>
    </header>
    <main>

        <section id="constructors">
			<h2>Constructores</h2>
			<div class="constructors-list">
                <ol>
                    <img src="https://media.formula1.com/d_team_car_fallback_image.png/content/dam/fom-website/teams/2023/red-bull-racing.png.transform/6col/image.png" alt="Red Bull Racing">
                    Red Bull Racing
                </ol>
                <ol>
                    <img src="https://media.formula1.com/d_team_car_fallback_image.png/content/dam/fom-website/teams/2023/ferrari.png.transform/6col/image.png" alt="Ferrari">
                    Ferrari
                </ol>
                <ol>
                    <img src="https://media.formula1.com/d_team_car_fallback_image.png/content/dam/fom-website/teams/2023/mercedes.png.transform/6col/image.png" alt="Mercedes">
                    Mercedes
                </ol>
                <ol>
                    <img src="https://media.formula1.com/d_team_car_fallback_image.png/content/dam/fom-website/teams/2023/aston-martin.png.transform/6col/image.png" alt="Aston Martin">
                    Aston Martin
                </ol>
                <ol>
                    <img src="https://media.formula1.com/d_team_car_fallback_image.png/content/dam/fom-website/teams/2023/mclaren.png.transform/6col/image.png" alt="McLaren">
                    McLaren
                </ol>
                <ol>
                    <img src="https://media.formula1.com/d_team_car_fallback_image.png/content/dam/fom-website/teams/2023/alpine.png.transform/6col/image.png" alt="Alpine">
                    Alpine
                </ol>
                <ol>
                    <img src="https://media.formula1.com/d_team_car_fallback_image.png/content/dam/fom-website/teams/2023/alfa-romeo.png.transform/6col/image.png" alt="Alfa Romeo">
                    Alfa Romeo
                </ol>
                <ol>
                    <img src="https://media.formula1.com/d_team_car_fallback_image.png/content/dam/fom-website/teams/2023/alphatauri.png.transform/6col/image.png" alt="AlphaTauri">
                    AlphaTauri
                </ol>
                <ol>
                    <img src="https://media.formula1.com/d_team_car_fallback_image.png/content/dam/fom-website/teams/2023/haas-f1-team.png.transform/6col/image.png" alt="Haas F1 Team">
                    Haas F1 Team
                </ol>
                <ol>
                    <img src="https://media.formula1.com/d_team_car_fallback_image.png/content/dam/fom-website/teams/2023/williams.png.transform/6col/image.png" alt="Williams">
                    Williams
                </ol>
            </div>
		</section>

    </main>
    <footer>
        <p>&copy; 2023 Fórmula 1™</p>
    </footer>   
</body>
</html>