<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../img/f1-logo-red.png">
    <title>Pilotos | Formula 1™</title>
    <meta name="description" content=" Datos sobre los pilotos de Formula 1.">
    <meta name="keywords" content="Formula 1, F1, pilotos F1, Max Verstappen, Sergio Perez, Lewis Hamilton, George Russell, Carlos Sainz, Charles Leclerc, Feranndo Alonso, Lance Stroll, Lando Norris, Oscar Piastri, Yuki Tsunoda, Nyck De Vries, Esteban Ocon, Pierre Gasly, Valtteri Bottas, Zhou Guanyu, Nico Hülkenberg, Kevin Magnussen, Alexander Albon, Logan Sargeant">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="../index.html">
                <img src="../img/f1-logo-white.png" alt="Logo de Fórmula 1" width="150">
            </a>
        </div>
		<nav class="nav-bar">
            <button class="hamburger-menu">
                <img src="../img/Wheel-menu.png" alt="menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </button>
            <ul class="menu">
                <a class="nav-bar-link" href="../index.html">Últimas Noticias</a>
                <a class="nav-bar-link" href="../views/drivers.html">Pilotos</a>
                <a class="nav-bar-link" href="../views/constructors.html">Constructores</a>
                <a class="nav-bar-link" href="../views/schedule.html">Cronograma</a>
                <a class="nav-bar-link" href="../views/results.html">Resultados</a>
            </ul>
		</nav>
    </header>
    <main>

        <section id="drivers">
			<h2>Pilotos</h2>
		</section>
        <div class="drivers-list">
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/M/MAXVER01_Max_Verstappen/maxver01.png.transform/2col/image.png" alt="Max Verstappen">
                    <h5 class="card-title">Max <strong>Verstappen</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Países Bajos</p>
                        <p class="card-text">Equipo: Red Bull Racing</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/S/SERPER01_Sergio_Perez/serper01.png.transform/2col/image.png" alt="Sergio Perez">
                    <h5 class="card-title">Sergio <strong>Perez</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: México</p>
                        <p class="card-text">Equipo: Red Bull Racing</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/C/CHALEC01_Charles_Leclerc/chalec01.png.transform/2col/image.png" alt="Charles Leclerc">
                    <h5 class="card-title">Charles <strong>Leclerc</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Mónaco</p>
                        <p class="card-text">Equipo: Ferrari</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/C/CARSAI01_Carlos_Sainz/carsai01.png.transform/2col/image.png" alt="Carlos Sainz">
                    <h5 class="card-title">Carlos <strong>Sainz</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: España</p>
                        <p class="card-text">Equipo: Ferrari</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/L/LEWHAM01_Lewis_Hamilton/lewham01.png.transform/2col/image.png" alt="Lewis Hamilton">
                    <h5 class="card-title">Lewis <strong>Hamilton</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Reino Unido</p>
                        <p class="card-text">Equipo: Mercedes</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/G/GEORUS01_George_Russell/georus01.png.transform/2col/image.png" alt="George Russell">
                    <h5 class="card-title">George <strong>Russell</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Reino Unido</p>
                        <p class="card-text">Equipo: Mercedes</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/F/FERALO01_Fernando_Alonso/feralo01.png.transform/2col/image.png" alt="Feranndo Alonso">
                    <h5 class="card-title">Fernando <strong>Alonso</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: España</p>
                        <p class="card-text">Equipo: Aston Martin</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/L/LANSTR01_Lance_Stroll/lanstr01.png.transform/2col/image.png" alt="Lance Stroll">
                    <h5 class="card-title">Lance <strong>Stroll</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Canadá</p>
                        <p class="card-text">Equipo: Aston Martin</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/L/LANNOR01_Lando_Norris/lannor01.png.transform/2col/image.png" alt="Lando Norris">
                    <h5 class="card-title">Lando <strong>Norris</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Reino Unido</p>
                        <p class="card-text">Equipo: McLaren</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/O/OSCPIA01_Oscar_Piastri/oscpia01.png.transform/2col/image.png" alt="Oscar Piastri">
                    <h5 class="card-title">Oscar <strong>Piastri</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Australia</p>
                        <p class="card-text">Equipo: McLaren</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/E/ESTOCO01_Esteban_Ocon/estoco01.png.transform/2col/image.png" alt="Esteban Ocon">
                    <h5 class="card-title">Esteban <strong>Ocon</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Francia</p>
                        <p class="card-text">Equipo: Alpine</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/P/PIEGAS01_Pierre_Gasly/piegas01.png.transform/2col/image.png" alt="Pierre Gasly">
                    <h5 class="card-title">Pierre <strong>Gasly</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Francia</p>
                        <p class="card-text">Equipo: Alpine</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/V/VALBOT01_Valtteri_Bottas/valbot01.png.transform/2col/image.png" alt="Valtteri Bottas">
                    <h5 class="card-title">Valtteri <strong>Bottas</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Finlandia</p>
                        <p class="card-text">Equipo: Alfa Romeo</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/G/GUAZHO01_Guanyu_Zhou/guazho01.png.transform/2col/image.png" alt="Zhou Guanyu">
                    <h5 class="card-title"><strong>Zhou </strong>Guanyu</h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: China</p>
                        <p class="card-text">Equipo: Alfa Romeo</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/Y/YUKTSU01_Yuki_Tsunoda/yuktsu01.png.transform/2col/image.png" alt="Yuki Tsunoda">
                    <h5 class="card-title">Yuki <strong>Tsunoda</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Japón</p>
                        <p class="card-text">Equipo: AlphaTauri</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/N/NYCDEV01_Nyck_De%20Vries/nycdev01.png.transform/2col/image.png" alt="Nyck De Vries">
                    <h5 class="card-title">Nyck <strong>De Vries</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Países Bajos</p>
                        <p class="card-text">Equipo: AlphaTauri</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/K/KEVMAG01_Kevin_Magnussen/kevmag01.png.transform/2col/image.png" alt="Kevin Magnussen">
                    <h5 class="card-title">Kevin <strong>Magnussen</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Dinamarca</p>
                        <p class="card-text">Equipo: Haas F1 Team</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/N/NICHUL01_Nico_Hulkenberg/nichul01.png.transform/2col/image.png" alt="Nico Hülkenberg">
                    <h5 class="card-title">Nico <strong>Hülkenberg</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Alemania</p>
                        <p class="card-text">Equipo: Haas F1 Team</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/A/ALEALB01_Alexander_Albon/alealb01.png.transform/2col/image.png" alt="Alexander Albon">
                    <h5 class="card-title">Alexander <strong>Albon</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: Tailandia</p>
                        <p class="card-text">Equipo: Williams</p>
                    </div>
                </div>
            </ol>
            <ol>
                <div class="card" data-aos="zoom-in-up">
                    <img class="card-img-top" src="https://media.formula1.com/d_driver_fallback_image.png/content/dam/fom-website/drivers/L/LOGSAR01_Logan_Sargeant/logsar01.png.transform/2col/image.png" alt="Logan Sargeant">
                    <h5 class="card-title">Logan <strong>Sargeant</strong></h5>
                    <div class="card-body">
                        <p class="card-text">Nacionalidad: EEUU</p>
                        <p class="card-text">Equipo: Williams</p>
                    </div>
                </div>
            </ol>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Fórmula 1™</p>
    </footer>   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        const hamburgerMenu = document.querySelector('.hamburger-menu');
    const menu = document.querySelector('.menu');

    hamburgerMenu.addEventListener('click', () => {
    menu.classList.toggle('show');
    });
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
        duration: 1200,
    })
    </script>
</body>
</html>