<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../img/f1-logo-red.png">
    <title>Cronograma | Formula 1™</title>
    <meta name="description" content=" Cronograma de la Formula 1.">
    <meta name="keywords" content="Formula 1, F1, cronograma, pistas, circuitos, horarios F1">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="../index.html">
                <img src="../img/f1-logo-white.png" alt="Logo de Fórmula 1" width="150">
            </a>
        </div>
		<nav class="nav-bar">
            <button class="hamburger-menu">
                <img src="../img/Wheel-menu.png" alt="menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </button>
            <ul class="menu">
                <a class="nav-bar-link" href="../index.html">Últimas Noticias</a>
                <a class="nav-bar-link" href="../views/drivers.html">Pilotos</a>
                <a class="nav-bar-link" href="../views/constructors.html">Constructores</a>
                <a class="nav-bar-link" href="../views/schedule.html">Cronograma</a>
                <a class="nav-bar-link" href="../views/results.html">Resultados</a>
            </ul>
		</nav>
    </header>
    <main>

        <section id="schedule">
			<h2>Cronograma</h2>
		</section>

        <div class="circuits-list">
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245035/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Bahrain%20carbon.png.transform/3col-retina/image.png" alt="Bahrain International Circuit">
                </div>
                Sakhir, Bahrain <strong>FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245030/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Saudi%20Arabia%20carbon.png.transform/3col-retina/image.png" alt="Jeddah Corniche Circuit">
                </div>
                Jeddah, Saudi Arabia <strong>FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245032/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Australia%20carbon.png.transform/3col-retina/image.png" alt="Albert Park Circuit">
                </div>
                Melbourne, Australia <strong>FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245030/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Azerbaijan%20carbon.png.transform/3col-retina/image.png" alt="Baku City Circuit">
                </div>
                Baku, Azerbaijan <strong>FORMULA 1 AZERBAIJAN GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245035/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Miami%20carbon.png.transform/3col-retina/image.png" alt="Miami International Circuit">
                </div>
                Miami, United States <strong>FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245032/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Emilia%20Romagna%20carbon.png.transform/3col-retina/image.png" alt="Autodromo Enzo e Dino Ferrari">
                </div>
                Emilia Romagna, Italy <strong>FORMULA 1 QATAR AIRWAYS GRAN PREMIO DEL MADE IN ITALY E DELL'EMILIA-ROMAGNA 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245032/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Monte%20Carlo%20carbon.png.transform/3col-retina/image.png" alt="Circuit de Monaco">
                </div> 
                Monte Carlo, Monaco <strong>FORMULA 1 GRAND PRIX DE MONACO 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1680529432/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Spain%20carbon.png.transform/3col-retina/image.png" alt="Circuit de Barcelona-Catalunya">
                </div>
                Barcelona, Spain <strong>FORMULA 1 AWS GRAN PREMIO DE ESPAÑA 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Canada%20carbon.png.transform/3col-retina/image.png" alt="Circuit Giles-Villeneuve">
                </div>
                Montreal, Canada <strong>FORMULA 1 PIRELLI GRAND PRIX DU CANADA 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Austria%20carbon.png.transform/3col-retina/image.png" alt="Red Bull Ring">
                </div>
                Spielberg, Austria <strong>FORMULA 1 ROLEX GROSSER PREIS VON ÖSTERREICH 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Great%20Britain%20carbon.png.transform/3col-retina/image.png" alt="Silverstone Circuit">
                </div>
                Silverstone, United Kingdom <strong>FORMULA 1 ARAMCO BRITISH GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Hungar%20carbon.png.transform/3col-retina/image.png" alt="Hungaroring">
                </div>
                Budapest, Hungary <strong>FORMULA 1 QATAR AIRWAYS HUNGARIAN GRAND PRIX 2023
                </strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Belgium%20carbon.png.transform/3col-retina/image.png" alt="Circuit De Spa-Francorchamps">
                </div>
                Spa, Belgium <strong>FORMULA 1 MSC CRUISES BELGIAN GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245033/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Netherlands%20carbon.png.transform/3col-retina/image.png" alt="Circuit Zandvoort">
                </div>
                Zandvoort, Netherlands<strong>FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245031/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Italy%20carbon.png.transform/3col-retina/image.png" alt="Autodromo Nazionale Monza">
                </div>
                Monza, Italy <strong>FORMULA 1 PIRELLI GRAN PREMIO D’ITALIA 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1683639275/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Singapore%20carbon.png.transform/3col-retina/image.png" alt="Marina Bay Street Circuit">
                </div>
                Singapore, Singapore <strong>FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245031/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Japan%20carbon.png.transform/3col-retina/image.png" alt="Suzuka International Racing Course">
                </div>
                Suzuka, Japan <strong>FORMULA 1 LENOVO JAPANESE GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245031/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Qatar%20carbon.png.transform/3col-retina/image.png" alt="Lusail International Circuit">
                </div>
                Lusail, Qatar <strong>FORMULA 1 QATAR AIRWAYS QATAR GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677245035/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/USA%20carbon.png.transform/3col-retina/image.png" alt="Circuit of the Americas">
                </div>
                Austin, United States <strong>FORMULA 1 LENOVO UNITED STATES GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Mexico%20carbon.png.transform/3col-retina/image.png" alt="Autódromo Hermanos Rodriguez">
                </div>
                Mexico City, Mexico <strong>FORMULA 1 GRAN PREMIO DE LA CIUDAD DE MÉXICO 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Brazil%20carbon.png.transform/3col-retina/image.png" alt="Autódromo José Carlos Pace">
                </div>
                São Paulo, Brazil <strong>FORMULA 1 ROLEX GRANDE PRÊMIO DE SÃO PAULO 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/f_auto/q_auto/v1677249931/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Las%20Vegas%20carbon.png.transform/3col-retina/image.png" alt="Las Vegas">
                </div>
                Las Vegas, United States <strong>FORMULA 1 HEINEKEN SILVER LAS VEGAS GRAND PRIX 2023</strong>
            </ol>
            <ol>
                <div data-aos="zoom-in-up">
                    <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Abu%20Dhab%20carbon.png.transform/3col-retina/image.png" alt="Yas Marina Circuit">
                </div>
                Yas Marina, Abu Dhabi <strong>FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX 2023
                </strong>
            </ol>
    </div>

    </main>
    <footer>
        <p>&copy; 2023 Fórmula 1™</p>
    </footer>   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        const hamburgerMenu = document.querySelector('.hamburger-menu');
    const menu = document.querySelector('.menu');

    hamburgerMenu.addEventListener('click', () => {
    menu.classList.toggle('show');
    });
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
        duration: 1200,
    })
    </script>
</body>
</html>